{% extends "global/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Perfil{% endblock title %}

{% block content %}
    <section class="login-registration">
        <div class='registration appear'>
            <h1>Update Data</h1>
            
            <form method='POST' action="">
                {% csrf_token %}
                {{ userform|crispy }}
                {{ perfilform|crispy }}
                <button class='create-btn' type='submit'>Update</button>
            </form>
        </div>
    </section>
{% endblock content %}