{% extends "global/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Perfil{% endblock title %}

{% block content %}
    <section class="login-registration">
        {% if not request.user.is_authenticated %}
            <div class="login appear">
                <h1>Login</h1>

                <form method='POST' action="{% url "perfil:login" %}">
                    {% csrf_token %}
                    <label>Username: </label>
                    <input type='text' name='username'> 
                
                    <label>Password:</label>
                    <input type='password' name='password'> 

                    <button class='create-btn' type='submit'>Join</button>
                </form>

                <button class="change-btn" onclick="toggleCreate()">Don't have an account?</button>
            </div>
        {% endif %}

        <div class='registration delete'>
            <h1>Registration</h1>
            
            <form method='POST' action="{% url "perfil:criar" %}">
                {% csrf_token %}
                {{ userform|crispy }}
                {{ perfilform|crispy }}
                <button class='create-btn' type='submit'>Create</button>
            </form>

            <button class="change-btn" onclick="toggleCreate()">Already have an account?</button>
        </div>
    </section>
{% endblock content %}
