<header>
    <nav class="nav">
        <ul class="logo-nav">
            <li>Logo</li>
        </ul>
        <ul class="links-nav">
            <li><a href="{% url "produto:lista" %}">Product</a></li>
            <li><a href="{% url "produto:lista" %}">Home</a></li>
            <li><a href="{% url "produto:lista" %}">Contact</a></li>
        </ul>
        <ul class="icons-nav">
            <a href="{% url "perfil:criar" %}"><i class="bi bi-person-fill"></i></a>
            <a href="{% url "produto:carrinho" %}"><i class="bi bi-handbag-fill"></i></a>
        </ul>
        <!-- <ul class="search-nav">
            <li>Carrinho</li>
            <li>
                <form method ="GET" action="{% url 'produto:busca' %}">
                    <input type="search" placeholder="Pesquisar" name="termo" value="{{ request.GET.termo }}">
                </form>
            </li>
            <li><button>Pesquisar</button></li>
        </ul> -->
    </nav>
</header>