{% load omfilters %}
{% if page_obj %}
    <div class="pagination">
        <div class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&q={{ request.GET.q.strip }}"><button class="page-index">&laquo;</button></a>
                <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q.strip }}"><button class="page-index">{{ page_obj.number|previous_page }}</button></a>
            {% endif %}

            <span class="current page-index">
                {{ page_obj.number }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q.strip }}"><button class="page-index">{{ page_obj.number|next_page }}</button></a>
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q.strip }}"><button class="page-index">&raquo;</button></a>
            {% endif %}
        </div>
    </div>
{% endif %}