{% extends "global/base.html" %}
{% load omfilters %}

{% block content %}
    <section class="order-list">
        <h1>Your Orders</h1>

        <div class="order-table">
            <ul class="header-table">
                <li>Order</li>
                <li>Total</li>
                <li>Qtd. Items</li>
                <li>Status</li>
                <li>More Details</li>
            </ul>

            <div class="line"></div>
            
            {% for pedido in pedidos %}
                <ul>
                    <li class="order-name">{{ pedido }}</li>
                    <li>{{ pedido.total|formata_preco }}</li>
                    <li>{{ pedido.qtd_total }}</li>
                    <li>{{ pedido.get_status_display }}</li>
                    <li>
                        <a href="{% url "pedido:detalhe" pedido.id %}">View <i class="bi bi-search"></i></a>
                    </li>
                </ul>

                <div class="line"></div>
            {% endfor %}
        </div>
        <div class="ola">
            {% include "global/partials/pagination.html" %}
        </div>
    </section>
{% endblock content %}