{% extends "global/base.html" %}
{% load omfilters %}
{% load static %}

{% block content %}
    <section class="cart">
        {% if request.session.cart %}

            <table class="products-table">
                <tr class="title-table">
                    <th>Product</th>   
                    <th>Name</th>   
                    <th>Variation</th>   
                    <th>Amount</th>   
                    <th>Total</th>  
                    <th></th> 
                </tr>
                
                {% for produto in request.session.cart.values %}
                    <tr class="cart-product">
                        <td class="img">
                            <img src="{% get_media_prefix %}{{ produto.image }}" alt="{{ produto.product_name }}">
                        </td>
                        <td>
                            <a href="{% url 'produto:detalhe' produto.slug %}">
                                {{ produto.product_name }}
                            </a>
                        </td>
                        <td>{{ produto.variation_name }}</td>
                        <td>{{ produto.amount }}x</td>

                        {% if produto.quantitative_promotional_price %}
                            <td>{{ produto.quantitative_promotional_price|formata_preco }}</td>
                        {% else %}    
                            <td>{{ produto.quantitative_price|formata_preco }}</td>
                        {% endif %}
                        <td>
                            <a href="{% url 'produto:remover' %}?vid={{ produto.variation_id }}">
                                <i class="bi bi-x-circle-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            
            <div class="line"></div>
            
            <div class='pay-table'>
                <div class='pay-index'>
                    <h3>Total Cart</h3>
                    <p>{{ request.session.cart|cart_totals|formata_preco }}</p>
                </div>
                <div class='pay-btn'>
                    {% if not request.user.is_authenticated %}
                        <a href="{% url "perfil:criar" %}">
                            <button>Confirm Purchase</button>
                        </a>
                    {% else %}
                        <a href="{% url "produto:finalizar" %}">
                            <button>Confirm Purchase</button>
                        </a>    
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="cart-title">
                <h1>Your Cart</h1>
                <p>Your cart is empty, add products.</p>
            </div>
        {% endif %}
    </section>
    {% endblock content %}