{% extends "global/base.html" %}
{% load omfilters %}

{% block title %}E-commerce - {{ produto.nome }}{% endblock title %}

{% block content %}
    <section class="product">
        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
        <div class="product-detail">
            <div class="description-product">
                <h1>{{ produto.nome }}</h1>
                <p class="text-product">{{ produto.descricao_curta }}</p>
                {% if produto.preco_marketing_promocional %}
                    <div class='product-price'>
                        <p class='price' id="promotional-price-variation">{{ produto.preco_marketing_promocional|formata_preco }}</p>
                        <p class='price text-muted' id="price-variation">{{ produto.preco_marketing|formata_preco }}</p>
                    </div>
                {% else %}
                    <div class='product-price'>
                        <p class='price' id="price-variation">{{ produto.preco_marketing|formata_preco }}</p>
                    </div>
                {% endif %}
            </div>
            <form action="{% url "produto:adicionar" %}" class="form-add">
                <select name="vid" id="select-variation" class="select-variation">
                    {% for variacao in produto.variacao_set.all %}
                        {% if variacao.preco_promocional %}
                            <option value="{{ variacao.id }}" price-data="{{ variacao.preco|formata_preco }}" promotional-price-data="{{ variacao.preco_promocional|formata_preco }}">{{ variacao }}</option>
                        {% else %}
                            <option value="{{ variacao.id }}" price-data="{{ variacao.preco|formata_preco }}">{{ variacao }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button class="btn-add" type="submit">Adicionar ao Carrinho</button>
            </form>
        </div>
    </section>
{% endblock content %}