{% extends "global/base.html" %}
{% load omfilters %}
{% load static %}

{% block content %}
    <section class="order">
        <h1>Purchase Summary</h1>
        <div class="line"></div>
        <div class="personal-data">
            <div class="title-personal-data">
                <p>Personal Data,</p>
                <a href="{% url 'perfil:criar' %}">click here to change</a>
            </div>
            <div class="informations">
                <ul>
                    <li class="title-informations">First name:</li>
                    <li>{{ usuario.usuario.first_name }}</li>
                    <li class="title-informations">Last name:</li>
                    <li>{{ usuario.usuario.last_name }}</li>
                </ul>
                <ul>
                    <li class="title-informations">Age:</li>
                    <li>{{ usuario.idade }}</li>
                    <li class="title-informations">Birth:</li>
                    <li>{{ usuario.data_nascimento }}</li>
                </ul>
                <ul>
                    <li class="title-informations">CPF:</li>
                    <li>{{ usuario.cpf }}</li>
                    <li class="title-informations">Email:</li>
                    <li>{{ usuario.usuario.email }}</li>
                </ul>
            </div>

            <div class="line"></div>
            
            <div class="title-personal-data">
                <p>Address Data,</p>
                <a href="{% url 'perfil:criar' %}">click here to change</a>
            </div>
            <div class="informations">
                <ul>
                    <li class="title-informations">Address:</li>
                    <li>{{ usuario.endereco }}</li>
                    <li class="title-informations">Complement:</li>
                    <li>{{ usuario.complemento }}</li>
                </ul>
                <ul>
                    <li class="title-informations">Number:</li>
                    <li>{{ usuario.numero }}</li>
                    <li class="title-informations">City:</li>
                    <li>{{ usuario.cidade }} - {{ usuario.estado }}</li>
                </ul>
                <ul>
                    <li class="title-informations">CEP:</li>
                    <li>{{ usuario.cep }}</li>
                    <li class="title-informations">District:</li>
                    <li>{{ usuario.bairro }}</li>
                </ul>
            </div>
        </div>
        
        <div class="line"></div>

        <div class="cart purchase-summary">
            <table class="products-table">
                <tr class="title-table">
                    <th>Product</th>   
                    <th>Name</th>   
                    <th>Variation</th>   
                    <th>Amount</th>   
                    <th>Total</th>  
                </tr>

                {% for produto in carrinho.values %}
                    <tr class="cart-product">
                        <td class="img">
                            <img src="{% get_media_prefix %}{{ produto.image }}" alt="{{ produto.product_name }}">
                        </td>
                        <td>
                            {{ produto.product_name }}
                        </td>
                        <td>{{ produto.variation_name }}</td>
                        <td>{{ produto.amount }}x</td>

                        {% if produto.quantitative_promotional_price %}
                            <td>{{ produto.quantitative_promotional_price|formata_preco }}</td>
                        {% else %}    
                            <td>{{ produto.quantitative__price|formata_preco }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="line"></div>

        <div class='pay-table'>
            <div class='pay-index'>
                <h3>Total Cart</h3>
                <p>{{ request.session.cart|cart_totals|formata_preco }}</p>
            </div>
            <div class='pay-btn'>
                {% if not request.user.is_authenticated %}
                    <a href="{% url 'perfil:criar' %}">
                        <button>Finalize Order</button>
                    </a>
                {% else %}
                    <a href="{% url 'pedido:fechar' %}">
                        <button>Finalize Order</button>
                    </a>    
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}