{% extends "global/base.html" %}
{% load omfilters %}

{% block title %}E-commerce{% endblock title %}

{% block content %}
    <section class="section-products">
        <img class='img-banner' src="../../../media/assets/banner.jpg" alt="banner">
        <div class="teste">
            <p class="title-banner">RUN<span>NER</span></p>
        </div>

        <div class="model-products">
            <div class="nav-products">
                <h2>All Products</h2>
                <div class="search-products">
                    <i class="bi bi-search"></i>
                    <form method ="GET" action="{% url 'produto:busca' %}">
                        <input type="search" placeholder="Enter here..." name="termo" value="{{ request.GET.termo }}">
                        <button>Search</button>
                    </form>
                </div>
            </div>

            {% if produtos %}
                <div class="products">
                    {% for produto in produtos %}
                    <div class="product-card">
                        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                        <div class="text-card">
                            <p>{{ produto.nome }}</p>  
                            {% if produto.preco_marketing_promocional %}
                                <div class='product-price'>
                                    <p class='price'>{{ produto.preco_marketing_promocional|formata_preco }}</p>
                                    <p class='price text-muted'>{{ produto.preco_marketing|formata_preco }}</p>
                                </div>
                            {% else %}
                                <div class='product-price'>
                                    <p class='price'>{{ produto.preco_marketing|formata_preco }}</p>
                                </div>
                            {% endif %}
                        </div>
                        <a href="{% url 'produto:detalhe' produto.slug %}">
                            <button>Buy Now</button>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% include "global/partials/pagination.html" %}
            {% else %}
                <h1 class="not-found">Product Not Found</h1>
            {% endif %}
        </div>
    </section>

    {% include "global/partials/footer.html" %}
{% endblock content %}
